# TODO:
#
#  * restore previous sections
language: python

sudo: false
os:
  - linux

dist: xenial

env:
  global:
    - CHANS_DEV="-c pyviz/label/dev"
    - CHANS_REL="-c pyviz"
    - LABELS_DEV="--label dev"
    - LABELS_REL="--label dev --label main"
    - PKG_TEST_PYTHON="--test-python=py27 --test-python=py36"
    # conda build fills up travis /tmp (tmpfs)
    - TMPDIR=$HOME/tmp
    - PYPI="https://upload.pypi.org/legacy/"
    - PYTHON_VERSION=3.6
    - OPTS="-o tests -o examples"

# quick hack to determine what tag is (improvements welcomed)
#     release: ^v(\d+|\.)*[^a-z]\d*$
# dev release: ^v(\d+|\.)*[a-z]\d*$

stages:
  - name: test
    if: tag =~ ^v(\d+|\.)+([a-z]|rc)?\d?$
  - name: website_dev
    if: (tag =~ ^v(\d+|\.)+[a|b|rc]\d+$) OR (tag = website_dev) OR (commit_message =~ /^.*(website_dev).*$/)
  - name: website_release
    if: (tag =~ ^v(\d+|\.)+\d+$) OR (tag = website_release) OR (commit_message =~ /^.*(website_release).*$/)
  - name: conda_dev_package
    if: tag =~ ^v(\d+|\.)+([a-z]|rc)\d+$
  - name: pip_dev_package
    if: tag =~ ^v(\d+|\.)+([a-z]|rc)\d+$
  - name: conda_package
    if: tag =~ ^v(\d+|\.)+[^a-z]\d+$
  - name: pip_package
    if: tag =~ ^v(\d+|\.)+[^a-z]\d+$

jobs:
  include:

    ########## DEVELOPER INSTALL ##########

    - &default
      stage: test
      env: DESC="dev test_all"
      before_install:
        # install doit/pyctdev and use to install miniconda...
        - pip install pyctdev && doit miniconda_install && pip uninstall -y doit pyctdev
        - export PATH="$HOME/miniconda/bin:$PATH" && hash -r
        - conda config --set always_yes True
        # ...and now install doit/pyctdev into miniconda
        - conda install -c pyviz "pyctdev>=0.5" && doit ecosystem_setup
      install:
        - doit env_create $CHANS_DEV --python=$PYTHON_VERSION --name=$PYTHON_VERSION
        - source activate $PYTHON_VERSION
        - doit develop_install $CHANS_DEV $OPTS
        # Install spatialpandas here because it's python 3 only and requires
        # conda-forge for some dependencies
        - if [[ "$PYTHON_VERSION" != "2.7" ]]; then
          conda install -c pyviz/label/dev -c conda-forge matplotlib=3.2.1 matplotlib-base=3.2.1 spatialpandas retrying numba llvmlite libllvm10 --no-deps;
          fi
        # Install rasterio using pip to avoid conda solver errors
        - pip install rasterio
        - doit env_capture
      script:
        - doit test_all
        - export NUMBA_DISABLE_JIT=1; doit test_unit_nojit
      after_success: codecov

    # python 2 flake checking typically catches python 2 syntax
    # errors where python 3's been assumed...
    - <<: *default
      env: DESC="py2 flakes" PYTHON_VERSION=2.7 OPTS=""
      script: doit test_lint

    # test using python 3.7
    - <<: *default
      env: PYTHON_VERSION=3.7
      script:
        - doit test_all
        - export NUMBA_DISABLE_JIT=1; doit test_unit_nojit


    ########## DOCS ##########

    - &doc_build
      <<: *default
      stage: website_release
      env: HV_DOC_HTML="true" DESC="docs" OPTS="-o doc"
      script:
        - datashader fetch-data --path=examples --force
        - nbsite generate-rst --org holoviz --project-name datashader --skip '.*tiling.*,.*streaming-aggregation.*'
        - nbsite build --what=html --output=builtdocs
      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        local_dir: ./builtdocs
        fqdn: datashader.org
        on:
          tags: true
          all_branches: true

    - <<: *doc_build
      stage: website_dev
      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        local_dir: ./builtdocs
        repo: pyviz-dev/datashader
        on:
          all_branches: true

    ########## END-USER PACKAGES ##########

    ## dev packages

    - &pip_pkg
      <<: *default
      stage: pip_dev_package
      env: PYPI=testpypi PYPIUSER=$TPPU PYPIPASS=$TPPP TRAVIS_NOCACHE=$TRAVIS_JOB_ID
      install:
        - doit env_create $CHANS_DEV --python=$PYTHON_VERSION
        - source activate test-environment
        - doit develop_install $CHANS_DEV -o tests && pip uninstall -y datashader
        - doit pip_on_conda
        - doit ecosystem=pip package_build --test-python=py36 --test-group=unit
      script: doit ecosystem=pip package_upload -u $PYPIUSER -p $PYPIPASS --pypi ${PYPI}

    - &conda_pkg
      <<: *default
      stage: conda_dev_package
      env: DESC="" LABELS=$LABELS_DEV CHANS=$CHANS_DEV TRAVIS_NOCACHE=$TRAVIS_JOB_ID
      install: doit package_build $CHANS $PKG_TEST_PYTHON --test-group=all
      script: doit package_upload --token=$CONDA_UPLOAD_TOKEN $LABELS

    ## release packages

    - <<: *pip_pkg
      env: PYPI=pypi PYPIUSER=$PPU PYPIPASS=$PPP TRAVIS_NOCACHE=$TRAVIS_JOB_ID
      stage: pip_package

    - <<: *conda_pkg
      stage: conda_package
      env: DESC="" LABELS=$LABELS_REL CHANS=$CHANS_REL TRAVIS_NOCACHE=$TRAVIS_JOB_ID

notifications:
  email: false
