environment:
  matrix:
    - PY: "2.7"
      PYTHON: "C:\\Python27-x64"
      CONDA: "C:\\Miniconda-x64"
    - PY: "3.4"
      PYTHON: "C:\\Python34-x64"
      CONDA: "C:\\Miniconda3-x64"
    - PY: "3.5"
      PYTHON: "C:\\Python35-x64"
      CONDA: "C:\\Miniconda35-x64"
    - PY: "3.6"
      PYTHON: "C:\\Python36-x64"
      CONDA: "C:\\Miniconda36-x64"

install:
  # Update path
  -  "SET PATH=%CONDA%;%CONDA%\\Scripts;%PATH%"

  # Update conda
  - "conda config --set always_yes yes --set changeps1 no"
  - "conda update -q conda"

  # Install dependencies
  - "conda create -n test-environment python=%PY%"
  - "activate test-environment"
  - "conda install dask numba numpy pandas pillow pytest toolz xarray datashape colorcet scikit-image param"
  - "conda install rasterio -c conda-forge"

  # Optional dependencies, for testing only
  - "conda install matplotlib"
  # Dependencies for notebook checking only
  - "conda install jupyter"

  - "python setup.py develop --no-deps"

build: off

test_script:
  - "pytest -x -v datashader"
  - "python examples\\test_notebooks.py"
