[workspace]
name = "datashader"
channels = ["pyviz/label/dev", "conda-forge"]
platforms = ["linux-64", "osx-arm64", "win-64"]

[tasks]
download-data = "python scripts/download_data.py"
install = "python -m pip install --no-deps --disable-pip-version-check -e ."
setup-dev = { depends-on = ["install", "download-data", "lint-install"] }

[activation.env]
PYTHONIOENCODING = "utf-8"

[environments]
test-310 = ["py310", "test-core", "optional", "test-example", "test-unit-task"]
test-311 = ["py311", "test-core", "optional", "test-example", "test-unit-task"]
test-312 = ["py312", "test-core", "optional", "test-example", "test-unit-task"]
test-313 = ["py313", "test-core", "optional", "test-example", "test-unit-task"]
test-314 = ["py314", "test-core", "optional", "test-example", "test-unit-task"]
test-core = ["py314", "test-core", "test-unit-task"]
test-gpu = ["py312", "test-core", "test-gpu"]
docs = ["py311", "optional", "doc"]
build = ["py311", "build"]
lint = ["py311", "lint"]

[dependencies]
nomkl = "*"
pip = "*"
# Required
numba = "*"
llvmlite = "*"
colorcet = "*"
multipledispatch = "*"
numpy = "*"
pandas = "*"
param = "*"
pyct = "*"
requests = "*"
scipy = "*"
setuptools = "*" # distutils for pyct
toolz = "*"
xarray = "*"

[feature.py310.dependencies]
python = "3.10.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py312.activation.env]
COVERAGE_CORE = "sysmon"

[feature.py313.dependencies]
python = "3.13.*"

[feature.py313.activation.env]
COVERAGE_CORE = "sysmon"

[feature.py314.dependencies]
python = "3.14.*"

[feature.py314.activation.env]
COVERAGE_CORE = "sysmon"

[feature.optional.dependencies]
bokeh = ">3.1"
bokeh_sampledata = "*"
dask-core = "*"
dask-geopandas = "*"
fastparquet = "*"
fiona = "*"
geodatasets = "*"
geopandas-base = "*"
graphviz = "*"
holoviews = "*"
hvsampledata = ">=0.1.5a3"
matplotlib-base = ">=3.3"
netcdf4 = "*"
networkx = "*"
panel = ">1.1"
pillow = "*"
pyarrow = "*"
pyproj = "*"
python-graphviz = "*"
python-snappy = "*"
rasterio = "*"
rioxarray = "*"
scikit-image = "*"
shapely = ">=2.0.0"
spatialpandas = "*"

# =============================================
# =================== TESTS ===================
# =============================================
[feature.test-core.dependencies]
hypothesis = "*"
psutil = "*"
pytest = "*"
pytest-codspeed = "*"
pytest-cov = "*"
pytest-github-actions-annotate-failures = "*"
pytest-xdist = "*"

[feature.test-unit-task.tasks] # So it is not showing up in the test-gpu environment
test-unit = 'pytest datashader -n logical --dist loadgroup'
test-unit-nojit = { cmd = 'pytest datashader -k "not test_tiles" -n logical --dist loadgroup', env = { NUMBA_DISABLE_JIT = '1' } }
test-benchmark = { cmd = 'pytest datashader/tests --benchmark --codspeed', env = { DASK_SCHEDULER = "single-threaded" } }

[feature.test-example.dependencies]
nbval = "*"

[feature.test-example.tasks]
test-example = 'pytest -n logical --dist loadscope --nbval-lax examples'

[feature.test-gpu]
channels = ["rapidsai"]
platforms = ["linux-64"]

[feature.test-gpu.activation.env]
NUMBA_CUDA_LOW_OCCUPANCY_WARNINGS = '0'

[feature.test-gpu.dependencies]
cuda-version = "12.2.*"
cudf = "25.12.*"
cupy = "*"
dask-cudf = "*"
librmm = { version = "*", channel = "rapidsai" }
rmm = { version = "*", channel = "rapidsai" }

[feature.test-gpu.tasks]
test-gpu = "python -m pytest datashader/tests -n logical --dist loadgroup --gpu"
test-benchmark = { cmd = 'pytest datashader/tests --gpu --benchmark --codspeed', env = { DASK_SCHEDULER = "single-threaded" } }

# =============================================
# =================== DOCS ====================
# =============================================
[feature.doc.dependencies]
nbsite = ">=0.9.0a2, <0.10.0a0"
numpydoc = "*"
sphinxcontrib-mermaid = "*"
sphinx-reredirects = "*"

[feature.doc.tasks]
_docs-generate-rst = 'nbsite generate-rst --org holoviz --project-name datashader'
_docs-generate = 'nbsite build --what=html --output=builtdocs --org holoviz --project-name datashader'
_docs-install = 'python -m pip install --no-deps --disable-pip-version-check -e .'

[feature.doc.tasks.docs-build]
depends-on = ['_docs-generate-rst', '_docs-generate']

[feature.doc.tasks.docs-build-full]
depends-on = ['_docs-install', 'download-data', '_docs-generate-rst', '_docs-generate']

[feature.doc.activation.env]
HV_DOCS_BUILD = "1"

# =============================================
# ================== BUILD ====================
# =============================================
[feature.build.dependencies]
python-build = "*"
conda-build = "*"

[feature.build.tasks]
build-conda = 'bash scripts/conda/build.sh'
build-pip = 'python -m build .'

[feature.build.activation.env]
MPLBACKEND = "Agg"

# =============================================
# =================== LINT ====================
# =============================================
[feature.lint.dependencies]
pre-commit = "*"

[feature.lint.tasks]
lint = 'pre-commit run --all-files'
lint-install = 'pre-commit install'
